.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.container {
  text-align: center;
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #595959;
  font-size: 4rem;
}

input {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #7F7F7F;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 8rem;
}

input::placeholder {
  color: #ffffff;
}

select {
  display: block;
  margin: 0.5rem 0;
  padding: 1rem;
  background-color: #7F7F7F;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  width: 10rem;
}

.submit-btn {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #585858;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 7rem;
  cursor: pointer;
}

.submit-btn:hover{
  background-color: #4d4d4d;
}

.item-container {
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn {
  position: relative;
  right: -13rem;
  padding: 1rem;
  background-color: #585858;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 5rem;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #4d4d4d;
}

.new-item-btn {
  margin: 2rem 0;
  padding: 1rem;
  background-color: #585858;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 9rem;
  cursor: pointer;
}

.new-item-btn:hover {
  background-color: #4d4d4d;
}